<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li class="my-2">
        <% if comment&.user %>
          <span><%= comment.user.name %></span>
        <% else %>
          <span>名無しさん</span>
        <% end %>
        <span><%= comment.content %></span>
        <% if current_user&.id == comment.user_id && comment.user_id&.present? %>
          <%= link_to "編集", "#", class: "btn btn-primary ml-3" %>
          <%= link_to "削除", "#", class: "btn btn-danger ml-3" %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>