<div class="row">
  <div class="left-section col-md-3 mt-4">
    <%= image_tag (@user.avatar.present? ? @user.avatar[:large].url : "no-image.jpg"), class: 'avatar mx-auto' %>
    <p class="col-12 text-center mt-2"><%= @user.name %></p>
    <%= link_to 'ユーザー設定変更', edit_user_registration_path, class: "btn btn-primary col-8 offset-2" %>
  </div>
  <div class="right-sectoion col-md-9 mt-4">
    <h2 class="col-12 text-center mb-5">投稿質問一覧</h2>
    <p class="col-12 text-center mb-5">ここに自分の投稿一覧が表示</p>
    <p class="col-12 text-center mb-5">title/description/status/created_at</p>
  </div>
</div>