<div class="row">
  <div class="left-section col-3">
  <div class="image_wrapper">
    <%# <%= image_tag (@user.avatar.present? ? @user.avatar.url : "no-image.jpg"), class: 'avatar' %> 
  </div>
  <p class="col-12 text-center"><%= @user.name %></p>
  <%= link_to 'ユーザー設定変更', edit_user_registration_path, class: "btn btn-primary" %>
  
</div>