<div class="post-wrapper col-md-4">
<div class="col-12 card mt-3">
  <%= image_tag post.image[:large].url, class: "post-image mt-3 mx-auto" %>
  <div class="card-title mt-2 mx-auto"><%= post.title %></div>
  <div class="card-text mt-2 mx-auto"><%= post.description %></div>
</div>
</div>