<%= link_to post_path(post), class: "post_link col-lg-4" do %>
  <div class="post-wrapper">
    <div class="col-12 card mt-3" style="height: 500px;">
      <%= image_tag post.image[:large].url, class: "post-image mt-3 mx-auto" %>
      <div class="card-title mt-3 mx-auto h3"><%= truncate(post.title, length: 12) %></div>
      <div class="card-text mx-auto text-center mt-2"><%= truncate(post.description, length: 80) %></div>

    </div>
  </div>
<% end %>