<% if post.status != "保留" %>
  <%= link_to post_path(post), class: "post_link col-lg-4" do %>
    <div class="post-wrapper">
      <div class="col-12 card my-3" style="height: 500px;">
        <% if post.status == "解決"%>
          <div class="status-logo-resolved">解決済</div>
        <% end %>
        <%= image_tag post.image_url(:thumb), class: "post-image mt-3 mx-auto" %>
        <div class="card-title mt-3 mx-auto h3"><%= truncate(post.title, length: 12) %></div>
        <div class="card-text mx-auto text-center mt-2"><%= truncate(post.description, length: 80) %></div>
      </div>
    </div>
  <% end %>
<% end %>