.home-style {
  background-image: image-url("dog2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right;
  background-size: cover;
  font-family: "Quicksand", "Kosugi Maru", sans-serif;
}
/*HOME*/
.navbar-brand {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.nav-link {
  font-family: "Quicksand", "Kosugi Maru", sans-serif;
}

.enter-btn {
  margin-top: 20px;
}

.home-title {
  font-size: 62px;
  text-shadow: 2px 1px 1px rgb(109, 109, 109);
}

.slide-fade {
  opacity: 0;
  transition: 0.7s;
  margin-left: 80px;
  text-shadow: 4px 1px 1px rgb(109, 109, 109);
}
.description-text {
  font-size: 20px;
}

.change-color {
  color: #e2ccfc;
}
.btn-wrapper {
  padding-top: 40px;
}
