body {
  font-family: "Quicksand", "Kosugi Maru", sans-serif;
  background: linear-gradient(
    -150deg,
    rgba(15, 168, 84, 0.2),
    rgba(240, 22, 193, 0.15)
  );
}
/*header*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.nav {
  opacity: 0.5;
}
.dorpdown-item {
  position: absolute;
  z-index: 2000;
}
/* 汎用 */

/* my page */
.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/*left section*/
.left-section {
  height: 100%;
}
/*right section*/
.right-section {
  background: blue;
  height: 500px;
}
