<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#6dbcb5;opacity:0.7;">
  <a class="navbar-brand text-light" href="#">I know that</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="https://github.com/sacrament8/i_know_that">GitHub</a>
      </li>
    </ul>

    <!--メニュー左側表示-->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">予備</a>
      </li>
    </ul>
    <!--メニュー右側表示-->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">SignIn</a>
      </li>
    </ul>
    <!--検索-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>